<div class="container-md"><p>We deliver best offline & online training in Data Science, Data Analytics, Python, Machine Learning, Java, PHP, Financial data analytics, Mean Stack, Dot Net, Training 100% placement
    Assurance till date,175+ compaines tie-up
    </p>
    <h3>Overview</h3>
    <p>Itvedant is India's one of the most recommended IT training Institutes. We have experience of over 10+ years in IT training with quality education and also provide 100% job Guarantee to our students. 

        We have trained about 12000+ students and have tie-ups with 500+ companies. we have branches all over India and a team of experienced Full-Time corporate trainers. 
        
        kick start your IT career with us and we will help you in decoding your dreams towards a better future.</p>
    <h3>Website</h3>
    <p>www.abcd.com</p>
    <h3>Specialties</h3>
    <p>it training, programming, php training, python training, java training, advance java, 
        spring training, hibernate training, web design training, html5 training, ionic training, 
        angular js training, jquery & javascript training, php certification, data science, 
        data analytics, Web Development, Masters Certification, PG certification, and Full 
        stack Development</p>
    <h3>Phone</h3>
    <p>6756205613</p>
    <h3>Industry</h3>
    <p>IT Services and IT Consulting</p>
    <h3>Company Size</h3>
    <p>51-200 employees</p>
    <p>72 on LinkedIn</p>
    <h3>E-Mail</h3>
    <p>abcd@gmail.com</p>
    <h3>Headquarters</h3>
    <p>Chennai,TamilNadu</p>
    <h3>Founded</h3>
    <p>2015</p>
    
</div>